<h1 ng-if="!book">Додати книгу</h1>
<h1 ng-if="book">Редагувати книгу</h1>
<hr>
<form>
    <div class="form-group">
        <label>Назва книги:</label>
        <input type="text" class="form-control" placeholder="Введіть назву книги" ng-model="book.name">
    </div>
    <div class="form-group">
        <label>Жанри:</label><br>
        <input type="text" class="form-control" placeholder="Введіть жанри, розділяючи їх комами" ng-model="genres">
    </div>
    <div class="form-group">
        <label>Автори:</label>
        <select size="10" class="form-control" ng-model="book.authors" multiple>           
            <option ng-repeat="author in authors" value="{{author._id}}">{{author.f_name}} {{author.l_name}}</option>
        </select>
    </div>
    <div ng-if="publication">
        <div class="form-group">
            <label>Видавництво:</label>
            <select size="1" class="form-control" ng-model="publisher_id">           
                <option ng-repeat="publisher in publishers" value="{{publisher._id}}">{{publisher.name}}</option>
            </select>
        </div>   
        <div class="form-group">
            <label>Дата видавництва:</label><br>
            <input type="date" class="form-control" ng-model="publication.pbn_date">
        </div>
        <div class="form-group">
            <label>Тираж:</label><br>
            <input type="number" min="1" class="form-control" ng-model="publication.amount">
        </div>
    </div>
    <input type="button" class="btn btn-success" style="padding: 6px 50px" value="Зберегти" ng-click="Save()">
    <a href="/#/" class="btn btn-primary">Повернутись на головну</a>
</form>
