<h1>{{book.name}}</h1>
<hr>
<ul>
    <li>
        Автори:
        <span ng-repeat="author in book.authors">
            <a href="/#/authors/{{author._id}}">{{author.f_name}} {{author.l_name}}</a><span ng-show="!$last">, </span>
        </span>
    </li>
    <li>
        Жанри:
        <span ng-repeat="genre in book.genres">{{genre}}<span ng-show="!$last">, </span></span>
    </li>
    <li ng-if='book.publisher.name'>
        Видавництво:
        <a href="/#/publishers/{{book.publisher._id}}">{{book.publisher.name}}</a>
    </li>
    <li ng-if='book.publication.pbn_date'>
        Дата видання:
        <span>{{book.publication.pbn_date}}</span>
    </li>
    <li ng-if='book.publication.amount'>
        Тираж:
        <span>{{book.publication.amount}}</span>
    </li>
</ul>
<hr>
<div class="input-group">
    <div>
        <label for="book_quantity">Кількість книг: </label>
    </div>
    <div class="col-auto">
        <input id="book_quantity" class="form-control form-control-sm" type="number" ng-model="book_quantity" min="1"> 
    </div>
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-primary" ng-click="new_order_item()">Додати в корзину</button>
    </span>
</div>
<hr>
<a href="/#/" class="btn btn-primary">Повернутись на головну</a>
<a href="/#/edit-book/{{book._id}}" class="btn btn-secondary"><i class="fa fa-edit" aria-hidden="true"></i> Редагувати книгу</a>
<!--<a href="/#/book" class="btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i> Видалити книгу</a>-->