<h1>Додати автора</h1>
<form>
    <div class="form-group">
        <label>Ім'я</label>
        <input class="form-control"></input>
    </div>
    <div class="form-group">
        <label>Прізвище</label>
        <input class="form-control"></input>
    </div>    
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control"></textarea>
    </div>
    <div class="form-group">
        <select id="test" name="state">
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
            <option value="FY">SDSJK</option>
        </select>
    </div>
    <input type="button" class="btn btn-primary" value="Save"></input>
</form>